<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

 <resultMap type="Board" id="BoardMap">
   <id     column="board_id" property="number"/>    
   <result column="conts"    property="title"/>
   <result column="cdt"      property="writeDate"/>
   <result column="vw_cnt"   property="viewCount"/>
 </resultMap> 

  <select id="selectBoard" resultMap="BoardMap">
    select board_id, conts, cdt, vw_cnt 
    from tam_board 
    order by board_id desc
  </select>

  <insert id="insertBoard" parameterType="Board">
    insert into tam_board(conts) 
    values(#{title})
  </insert>

  <select id="selectDetail" resultMap="BoardMap" parameterType="int">
    select board_id, conts, cdt, vw_cnt 
    from tam_board 
    where board_id=#{number}
  </select>

  <update id="updateBoard" parameterType="Board">
    update tam_board 
    set conts=#{title}
    where board_id=#{number}
  </update>

  <delete id="deleteBoard" parameterType="int">
    delete from tam_board 
    where board_id=#{number}
  </delete>
</mapper>
