<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MemberMapper">

  <resultMap type="Member" id="MemberMap">
    <id column="member_id" property="number"/>
    <result column="name" property="name"/>
    <result column="email" property="email"/>
    <result column="addr" property="address"/>
    <result column="pwd" property="password"/>
    <result column="cdt" property="registeredDate"/>
    <result column="tel" property="tel"/>
    <result column="photo" property="photo"/>
  </resultMap>
  
  <select id="selectMember" resultMap="MemberMap">
    select member_id, name, email, pwd, addr, cdt, tel, photo  
    from tam_member 
    order by member_id desc
  </select>

  <insert id="insertMember" parameterType="Member">
    insert into tam_member(name, email, pwd, addr, tel, photo) 
    values(#{name}, #{email}, password(#{password}), #{address}, #{tel}, #{photo})
  </insert>

  <select id="selectDetail" resultMap="MemberMap" parameterType="int">
    select member_id, name, email, pwd, addr, tel, photo, cdt 
    from tam_member 
    where member_id=#{number}
  </select>

  <update id="updateMember" parameterType="Member">
    update tam_member 
    set name=#{name}, email=#{email}, addr=#{address}, pwd=#{password}, tel=#{tel}, photo=#{photo} 
    where member_id=#{number}
  </update>

  <delete id="deleteMember" parameterType="int">
    delete from tam_member 
    where member_id=#{number}
  </delete>
  
  <select id="selectByKeyword" resultMap="MemberMap" parameterType="string">
      <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
    select member_id, name, email, pwd, tel, photo 
    from tam_member 
    where name like #{keywordPattern} or email like #{keywordPattern} or tel like #{keywordPattern}
  </select>

  <select id="selectByEmailPassword" resultMap="MemberMap" parameterType="map">
    "select member_id, name, email, pwd, tel, photo 
    from tam_member 
    where email like #{email} and pwd like password(#{password})
  </select>
  
</mapper>
